@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter';
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #140101;
    height: 100vh;
}

/*  CABEÇALHO MENU  */

header{
    height: 90px;
    padding: 10px 4%;
    box-shadow: 10px 1px 20px #74222296;
}

.menu{
    padding: 1vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu .opcoes-menu a{
    text-decoration: none;
    color: #fff;
    padding: 0px 35px ;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Inter';
    transition: 0.1s;
}

.menu .opcoes-menu a:hover {
    color: #eaa845;
    text-shadow: 1px 1px 10px #eaa84573;
    font-size: 23px;
    transition: 0.1s;
}

header .img-menu img{
    height: 120px;
}

.btn button{
    border: 0;
    font-size: 20px;
    padding: 15px;
    border-radius: 30px;
    color: #140101;
    transition: 0.3s;
}

.btn button:hover{
    box-shadow: 1px 1px 20px #eaa84573;
    background-color: #eaa845;
    color: #140101;
    cursor: pointer;
}



/* CORPO PRINCIPAL DO SITE */

.corpo-principal{
    display: flex;
    justify-content: space-between;
    padding: 40px 4%;
    box-shadow: 10px 1px 20px #74222296;
    height: 100%;
}

.corpo-principal .img-principal img{
    height: 80vh;
}

.texto-informativo p{
    font-size: 20px;
    text-align: left;
    color: #fff;
}

.texto-informativo h1{
    color: #eaa845;
}

.texto-informativo {
    font-size: 30px;
}

/* CAMPO SOBRE NÓS */

.sobre-nos {
    display: flex;
    justify-content: space-between;
    padding: 40px 4%;
    box-shadow: 10px 1px 20px #74222296;
}

.img-sobre img{
    height: 500px;
}

.texto-sobre h1{
    color: #eaa845;
    font-size: 35px;
}

.texto-sobre span{
    color: #eaa845;
}

.texto-sobre p{
    color: #fff;
    width: 510px;
    font-size: 25px;
}

/* PARTE DE SERVIÇOS */

.servicos {
    display: flex;
    justify-content: space-between;
    padding: 40px 4%;
    box-shadow: 10px 1px 20px #74222296;
}

.img-servicos img{
    width: 700px;
}

.texto-servicos h1{
    color: #fff;
    font-size: 35px;
}

.texto-servicos p{
    color: #fff;
    width: 510px;
    font-size: 20px;
}

.texto-servicos span{
    color: #eaa845;
}

/* PARTE DE CONTATOS */

.contato {
    padding: 40px 4%;
    box-shadow: 10px 1px 20px #74222296;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #eaa845;
}

.telefones{
    display: flex;
    justify-content: space-between;
}

.texto{
    line-height: 10px;
}

.texto h1{
    color: #eaa845;
    font-size: 25px;
}

.texto p{
    color: #fff;
    font-size: 20px;
}

.texto span{
    font-size: 20px;
    color: #eaa845; 
}
